.app-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.categories {
  width: 30%;
  border-right: 1px solid rgb(214, 214, 214);
  border-left: 1px solid rgb(214, 214, 214);

}
.main {
  width: 70%;
}

.category-btn {
  background: transparent;
  border: 0px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}
.goods {
  padding-left: 30px;
}